@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=DM+Mono");
@import url("https://fonts.googleapis.com/css?family=Fraunces");
@import url("https://fontlibrary.org//face/tex-gyre-adventor");



  body{
    background-color: #dfdedb;
  }

  textarea {
    height: 4rem !important;
  }

  .form-control::placeholder {
    color: rgb(174, 174, 174); /* Replace with your desired color */
  }

  

  ul {

  }

  li{
    margin-bottom: 0.25rem;
  }
  
  .navba {
    display: flex;
    gap: 20px; 
    padding: 1rem;
    width: 60%;
  }

  img{

    height:100%;
  }
  
  .atg {
    display: inline-block;
    color: black;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    text-decoration: none;
    margin:auto;
  }

  .atg:hover {
    text-decoration: underline;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgwrap {
     width: 90%; /*or whatever you choose*/
     padding: 1.5rem 0;
  }
  .imgwrap img {
     display: block;
     width: 100%;
     max-width: 218px; /*actual image width*/
     height: auto; /* maintain aspect ratio*/
     margin: auto; /*optional centering of image*/
  }

.container {
    display: flex;
    width: 1000px;
  }
  
.spacer{
    height: 3.5rem;
    width:auto;
}





/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
   
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
    }

    .icon > .label {
        display: none;
    }

    .icon:before {
        line-height: inherit;
    }

    .icon.solid:before {
        font-weight: 900;
    }

    .icon.brands:before {
        font-family: 'Font Awesome 5 Brands';
    }

    .icon.style2 {
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        background-color: transparent;
        border: solid 1px #c9c9c9;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        color: inherit;
       
    }

        .icon.style2:before {
            font-size: 24px;
        }

        .icon.style2:hover {
            color: #B4B4B4;
            border-color: #B4B4B4;
        }

        .icon.style2:active {
            background-color: rgba(242, 132, 158, 0.1);
        }

/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin: 0 0 2em 0;
}

    ul.icons li {
        display: inline-block;
        padding: 1em 0 0 1em;
    }



    